.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 24px 0;
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include media($sm) {
            justify-content: center;
        }
    }
    &__left {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }
    &__right {
        @include media($sm) {
            margin-top: 30px;
        }
        &-text {
            color: $white;
            font-size: 18px;
            font-family: $C;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 1%;
            text-align: right;
            @include media($xs) {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}