footer.footer
    .container.footer__block
        .footer__left 
            img(src="images/footer__img-1.webp", alt="").footer__left-img
            img(src="images/footer__img-2.webp", alt="").footer__left-img
        .footer__right 
            p.footer__right-text © PROWEB. В целях обучения 2021